In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/train.csv')
print(df)

     PassengerId  Survived  Pclass                                      Name  \
0            493         0       1                Molson, Mr. Harry Markland
1             53         1       1  Harper, Mrs. Henry Sleeper (Myna Haxtun)
2            388         1       2                          Buss, Miss. Kate
3            192         0       2                     Carbines, Mr. William
4            687         0       3                  Panula, Mr. Jaako Arnold
..           ...       ...     ...                                       ...
707          859         1       3     Baclini, Mrs. Solomon (Latifa Qurban)
708           65         0       1                     Stewart, Mr. Albert A
709          130         0       3                        Ekstrom, Mr. Johan
710           21         0       2                      Fynney, Mr. Joseph J
711          476         0       1               Clifford, Mr. George Quincy

        Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
0      male  55.0      0      0    113787  30.5000   C30        S
1    female  49.0      1      0  PC 17572  76.7292   D33        C
2    female  36.0      0      0     27849  13.0000   NaN        S
3      male  19.0      0      0     28424  13.0000   NaN        S
4      male  14.0      4      1   3101295  39.6875   NaN        S
..      ...   ...    ...    ...       ...      ...   ...      ...
707  female  24.0      0      3      2666  19.2583   NaN        C
708    male   NaN      0      0  PC 17605  27.7208   NaN        C
709    male  45.0      0      0    347061   6.9750   NaN        S
710    male  35.0      0      0    239865  26.0000   NaN        S
711    male   NaN      0      0    110465  52.0000   A14        S

[712 rows x 12 columns]

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 695
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  148 non-null    int64
 1   Survived     148 non-null    int64
 2   Pclass       148 non-null    int64
 3   Sex          148 non-null    object
 4   Age          148 non-null    float64
 5   SibSp        148 non-null    int64
 6   Parch        148 non-null    int64
 7   Fare         148 non-null    float64
 8   Embarked     148 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 11.6+ KB

In [ ]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 695
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  148 non-null    int64
 1   Survived     148 non-null    int64
 2   Pclass       148 non-null    int64
 3   Name         148 non-null    object
 4   Sex          148 non-null    object
 5   Age          148 non-null    float64
 6   SibSp        148 non-null    int64
 7   Parch        148 non-null    int64
 8   Ticket       148 non-null    object
 9   Fare         148 non-null    float64
 10  Cabin        148 non-null    object
 11  Embarked     148 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 15.0+ KB

In [ ]:
dummies=[]
cols=['Pclass','Sex','Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[col]))
  titanic_dummies=pd.concat(dummies,axis=1)
  df=pd.concat((df,titanic_dummies),axis=1)

In [ ]:
df=df.drop(['Pclass','Sex','Embarked'],axis=1)

In [ ]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch      Fare  \
0            493         0       1    male  55.0      0      0   30.5000
1             53         1       1  female  49.0      1      0   76.7292
9            752         1       3    male   6.0      0      1   12.4750
10           541         1       1  female  36.0      0      2   71.0000
14           873         0       1    male  33.0      0      0    5.0000
..           ...       ...     ...     ...   ...    ...    ...       ...
681          708         1       1    male  42.0      0      0   26.2875
685          682         1       1    male  27.0      0      0   76.7292
691          743         1       1  female  21.0      2      2  262.3750
693          435         0       1    male  50.0      1      0   55.9000
695          725         1       1    male  27.0      1      0   53.1000

    Embarked
0          S
1          C
9          S
10         S
14         S
..       ...
681        S
685        C
691        C
693        S
695        S

[148 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
Data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler=MinMaxScaler()
print

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
data=asarray([[100,0.001],
             [8,0.05],
             [50,0.005],
             [88,0.07],
             [4,0.1]])
print(data)

scaler=StandardScaler()

scaled=scaler.fit_tranform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]

AttributeError: 'StandardScaler' object has no attribute 'fit_tranform'